@model IEnumerable<App.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<table class="table table-bordered border-primary">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventCategory.CategoryEventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFullDay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventCategory.CategoryEventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFullDay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }

</table>
<br />
<button class="btn" style="background-color: blueviolet">
    @Html.ActionLink("Create New", "Create", null, null, new { style = "color: White" })
</button>

